{{#if showIcon}}
	<i class="io-tag-icon ioicon ioicon-{{iconTypeClass}}"></i>
{{/if}}

<span class="io-tag-message">{{message}}</span>
<span class="io-tag-description">{{description}}</span>
{{#if closable}}
	<a class="io-tag-close-icon"  {{action "close"}}>
		{{#if (eq closeText '')}}
			<i class="ioicon ioicon-cross"></i> 
		{{else}}
			{{closeText}}
		{{/if}}
	</a>
{{/if}}