<h1>
    Menu 导航菜单
</h1>

<section class="demo-type">
	<h2>基本用法</h2>
	<p>menu 支持水平，垂直 menu, 同时可以嵌套使用</p>
	<div class="demo">
		<div class="demo-example">
				{{#io-menu}}
					{{#io-menu-item selected=true}} {{io-icon type="mail"}} 导航一 {{/io-menu-item}}
					{{#io-menu-item selected=true}} {{io-icon type="appstore"}} 导航二 {{/io-menu-item}}
					{{#io-menu-item submenu=true}}
						{{#io-menu-title}}
							{{io-icon type="setting"}} 导航三 子菜单
						{{/io-menu-title}}
						{{#io-menu sub=true}}
							{{#io-menu-item value="1" selectedValue="1"}} 选项一 {{/io-menu-item}}
							{{#io-menu-item}} 选项二 {{/io-menu-item}}
							{{#io-menu-item-group title="分组1"}}
								{{#io-menu-item}} 选项三 {{/io-menu-item}}
								{{#io-menu-item}} 选项四 {{/io-menu-item}}
							{{/io-menu-item-group}}
						{{/io-menu}}
					{{/io-menu-item}}
					{{#io-menu-item }} <a href="">导航四链接</a> {{/io-menu-item}}
				{{/io-menu}}
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html" data-lang="html">
\{{#io-menu}}
	\{{#io-menu-item selected=true}} \{{io-icon type="mail"}} 导航一 \{{/io-menu-item}}
	\{{#io-menu-item }} \{{io-icon type="appstore"}} 导航二 \{{/io-menu-item}}
	\{{#io-menu-item submenu=true}}
		\{{#io-menu-title}}
			\{{io-icon type="setting"}} 导航三 子菜单
		\{{/io-menu-title}}
		\{{#io-menu sub=true}}
			\{{#io-menu-item value="1" selectedValue="1"}} 选项一 \{{/io-menu-item}}
			\{{#io-menu-item}} 选项二 \{{/io-menu-item}}
			\{{#io-menu-item-group title="分组1"}}
				\{{#io-menu-item}} 选项三 \{{/io-menu-item}}
				\{{#io-menu-item}} 选项四 \{{/io-menu-item}}
			\{{/io-menu-item-group}}
		\{{/io-menu}}
	\{{/io-menu-item}}
	\{{#io-menu-item }} 导航四链接 \{{/io-menu-item}}
\{{/io-menu}}

</code></pre>
			</div>
		</div>
	</div>
</section>


<section class="demo-type">
	<h2>侧边栏 inline menu</h2>
	<p>添加 mode=inline</p>
	<div class="demo">
		<div class="demo-example">
			{{#io-menu mode="inline" style="width: 240px;"}}
				{{#io-menu-item }} {{io-icon type="mail"}} 导航一 {{/io-menu-item}}
				{{#io-menu-item }} {{io-icon type="appstore"}} 导航二 {{/io-menu-item}}
				{{#io-menu-item submenu=true}}
					{{#io-menu-title}} {{io-icon type="setting"}} 导航三 子菜单 {{/io-menu-title}}
					{{#io-menu mode="inline" sub=true}}
						{{#io-menu-item value="1" selectedValue="1"}} 选项一 {{/io-menu-item}}
						{{#io-menu-item}} 选项二 {{/io-menu-item}}
						{{#io-menu-item-group title="分组1"}}
							{{#io-menu-item}} 选项三 {{/io-menu-item}}
							{{#io-menu-item}} 选项四 {{/io-menu-item}}
						{{/io-menu-item-group}}
					{{/io-menu}}
				{{/io-menu-item}}
			{{/io-menu}}
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html" data-lang="html">
\{{#io-menu mode="inline" style="width: 240px;"}}
	\{{#io-menu-item }} \{{io-icon type="mail"}} 导航一 \{{/io-menu-item}}
	\{{#io-menu-item }} \{{io-icon type="appstore"}} 导航二 \{{/io-menu-item}}
	\{{#io-menu-item submenu=true}}
		\{{#io-menu-title}} \{{io-icon type="setting"}} 导航三 子菜单 \{{/io-menu-title}}
		\{{#io-menu mode="inline" sub=true}}
			\{{#io-menu-item value="1" selectedValue="1"}} 选项一 \{{/io-menu-item}}
			\{{#io-menu-item}} 选项二 \{{/io-menu-item}}
			\{{#io-menu-item-group title="分组1"}}
				\{{#io-menu-item}} 选项三 \{{/io-menu-item}}
				\{{#io-menu-item}} 选项四 \{{/io-menu-item}}
			\{{/io-menu-item-group}}
		\{{/io-menu}}
	\{{/io-menu-item}}
\{{/io-menu}}
</code></pre>
			</div>
		</div>
	</div>
</section>


<section class="markdown api-container io-table">
<h2 id="API"><span>API</span></h2>
<h3 id="Menu"><span>io-menu属性</span></h3>
<table>
	<thead>
	<tr>
		<th>参数</th>
		<th>说明</th>
		<th>类型</th>
		<th>默认值</th>
	</tr>
	</thead>
	<tbody>
        <tr>
			<td>mode</td>
			<td>导航栏方向 默认为横向导航，mode="inline"时，为侧栏导航</td>
			<td>String</td>
			<td>-</td>
		</tr>
		<tr>
			<td>selected</td>
			<td>一级导航选中状态（可设置多个导航按钮为选中状态）</td>
			<td>Boolean</td>
			<td>false</td>
		</tr>
		<tr>
			<td>selectedValue</td>
			<td>二级导航选中状态的值，如果value的值与selectedValue的值相同，则此导航按钮被选中</td>
			<td>String</td>
			<td>-</td>
		</tr>
		<tr>
			<td>submenu</td>
			<td>子导航</td>
			<td>Boolean</td>
			<td>false</td>
		</tr>
	</tbody>
</table>

</section>
