<h1>Checkbox 复选框</h1>

<section class="demo-type">
	<h2>基本用法</h2>
	<p>checked 属性为双向绑定，也可以添加 onChange action</p>
	<div class="demo">
		<div class="demo-example">
			<label>
				{{io-checkbox checked=checked onChange='onChange'}}
				checkbox
			</label>
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html" data-lang="html">
\{{io-checkbox checked=checked onChange='onChange'}}
</code></pre>
			</div>
		</div>
	</div>
</section>


<section class="demo-type">
	<h2>禁用状态</h2>
	<p>添加 disabled</p>
	<div class="demo">
		<div class="demo-example">
			<label>
				{{io-checkbox checked=false  disabled=true onChange='onChange'}}
				{{io-checkbox checked=true  disabled=true onChange='onChange'}}
			</label>
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html" data-lang="html">
\{{io-checkbox checked=false  disabled=true onChange='onChange'}}
\{{io-checkbox checked=true  disabled=true onChange='onChange'}}
</code></pre>
			</div>
		</div>
	</div>
</section>

<section class="markdown api-container io-table">
<h2 id="API"><span>API</span></h2>
<h3 id="Button"><span>io-checkbox属性</span></h3>
<table>
	<thead>
	<tr>
		<th>参数</th>
		<th>说明</th>
		<th>类型</th>
		<th>默认值</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td>checked</td>
			<td>指定当前是否选中，默认未被选中</td>
			<td>Boolean</td>
			<td>false</td>
		</tr>
		<tr>
			<td>disabled</td>
			<td>禁用</td>
			<td>Boolean</td>
			<td>false</td>
		</tr>
		<tr>
			<td>onChange</td>
			<td>选择完成后的回调方法</td>
			<td>function</td>
			<td>-</td>
		</tr>
	</tbody>
</table>

</section>
